/*Global reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', verdana, sans-serif;
    font-size: 1em;
    color: whitesmoke;
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(0, 225, 255);
}

/*links, lists and button reset*/
li, a, button {
    font-family: 'Poppins', verdana, sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

/*============================== 
==============HEADER============
==============================*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

/*header logo*/
header h1 {
    margin-right: auto;
    padding: 0;
    cursor: default;
    text-transform: uppercase;
    font-family: 'Antonio', verdana, sans-serif;
    font-size: 25px;
    color: rgb(0, 238, 255);
}

/*Navegation Bar for all pages*/
.nav_links { 
    list-style: none; 
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a { 
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover { 
    color:rgb(0, 238, 255);
    border-bottom: 2px solid rgb(0, 238, 255); 
}

/*Contact button*/
.cta-btn {
    margin-left: 20px;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: black;
    background-color: rgb(0, 238, 255);
    transition: all 0.3s ease 0s;
}

.cta-btn:hover {
    color: whitesmoke;
    background-color: rgba(0, 238, 255, 0.466);
}

/*Active page on navegation bar*/
.active {
    margin-left: 20px;
    padding: 4px 20px;
    border: none;
    border-radius: 50px;
    pointer-events: none; /*no click*/
    color: black;
    background-color: rgb(0, 238, 255);
    transition: all 0.3s ease 0s;
} 

/*============================== 
==============HOME==============
==============================*/

/*Hero section*/
.hero-section {
    width: 100%;
    height: 100vh;
    padding: 0px 100px;
    background-image: url(/img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Hero - Text section*/
.hero-section h1 {
    width: 420px;
    color: whitesmoke;
    font-family: 'Antonio', verdana, sans-serif;
    font-weight: 400px;
    font-size: 45px;
}

.hero-section p {
    width: 430px;
    padding: 30px 0px;
    font-family: 'Poppins', verdana, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.hero-section h1, p, b, a {
    background-color: rgba(255, 255, 255, 0); 
}

.hero-content {
    padding: 20px;
    margin-left: auto;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.048);
}

.btn {
    display: inline-block;
    padding: 6px 16px;
    margin-top: 16px;
    border: none;
    border-radius: 20px 0px 20px 0px;
    color: black; 
    background-color: rgb(0, 238, 255);
    cursor: pointer;
}
.btn:hover {
    color: whitesmoke;
    background-color: rgba(0, 238, 255, 0.466);
    transition: all 0.4s ease 0s;
}

/*Info Section*/
.highlights h1 {
    padding: 20px;
    margin-bottom: -130px;
    font-family: 'Antonio', 'Poppins', verdana, sans-serif;
    font-size: 80px;
    text-align: center;
}

/*Info Card */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 5px;
}
.card {
    width: 325px;
    margin: 20px;
    border-radius: 8px;
    border: 1px solid rgb(0, 238, 255);
    overflow: hidden;
    text-align: left;
}

.card img {
    width: 100%;
    height: auto;
}

/*Specific attributes for card 2,3,4,5*/
#card-x p{ 
    margin-top: 20px; 
}
#card-x button{ 
    margin-top: 40px; 
}

.card-content { 
    padding: 20px;
}

.card-content h3 {
    margin-bottom: 8px;
    font-size: 27px;
}

/*Image section homepage*/
.image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
  
.image-section img {
    width: 450px;
    height: 250px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/*============================== 
============DETAILS=============
==============================*/

/*Hero section of Details page*/
.hero-section-details {
    width: 100%;
    height: 100vh;
    padding: 0px 100px;
    background-image: url(/img/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-section-details h1 {
    width: 820px;
    color: whitesmoke;
    font-family: 'Antonio', verdana, sans-serif;
    font-weight: 400px;
    font-size: 60px;
}

.hero-section-details p {
    width: 820px;
    padding: 30px 0px;
    font-family: 'Poppins', verdana, sans-serif;
    font-weight: 400;
    font-size: 36px;
}

.hero-section-details h1, p, b, a {
    background-color: rgba(255, 255, 255, 0); 
}

.hero-content-details {
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.048);
}

/*Infor area*/
.info {
    padding: 30px;
    font-size: 1.1em;
}

.info h3 {
    font-size: 30px;
}

.info a {
    font-size: 20px;
    text-decoration: underline;
}

.info li {
    font-size: 20px;
}

/* Coach Section */
.instructors-section {
    padding: 40px 20px;
    color: white;
    background-color: black;
    text-align: center;
}

.instructors-section h2 {
    margin-bottom: 10px;
    font-size: 30px;
    background: none;
}

.instructors-section p {
    margin-bottom: 30px;
    font-size: 16px;
}

.instructor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.instructor-card {
    border: 1px solid rgb(0, 238, 255);
    padding: 15px;
    border-radius: 8px;
    width: 250px;
}

.instructor-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.instructor-card h3 {
    margin-bottom: 5px;
    font-size: 25px;
    color: rgb(0, 174, 255) ;
    background: none;
}

.instructor-card p {
    font-size: 14px;
}

/* Schedule Section */
.schedule-section {
    max-width: 1000px;
    padding: 50px 20px;
    margin: 0 auto;
    color: white;
    border: 1px solid rgb(0, 238, 255);
    border-radius: 8px;
}

.schedule-section h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    background: none;
    font-size: 28px;   
    text-align: center;
}

.schedule-section p {  
    margin-bottom: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

.day-block {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff0e;
}

.day-block h3 {
    font-size: 22px;
    color: rgb(0, 174, 255);
    margin-bottom: 15px;
}

.day-block h4 {
    font-size: 18px;
    margin-top: 20px;
}

.day-block ul {
    padding-left: 20px;
    margin-top: 10px;
}

.day-block ul li {
    margin-bottom: 8px;
    line-height: 1.5;
}

.day-block p {
    margin-top: 15px;
    font-weight: 400; 
}

.day-block h3, h4, ul, li,  p {
    background: none;
}

/*Workshop Moments*/
.workshop-media {
    padding: 40px 20px;
    text-align: center;
}

.workshop-media h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.photo-row img {
    width: 400px;
    margin: 10px;
    border-radius: 4px;
}

.video-row video {
    width: 500px;
    margin: 10px;
    border-radius: 4px;
}

/*testimonials*/
.testimonials {
    background-color: black;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.testimonials h3 {
    margin-bottom: 20px;
    font-size: 30px;
}

.testimonial {
    padding: 15px;
    margin-bottom: 15px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    background-color: #111;
}
  
.testimonial p {
    font-size: 14px;
    color: #cccccc;
}

/*Faq section*/
.faq {
    margin: 0 auto;
    margin-top: -50px;
    padding: 40px 20px;
    max-width: 700px;
    color: white;
}

.faq h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.faq-item {
    background-color: #111;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.faq-item p {
    margin: 0;
    font-size: 16px;
    color: #ccc;
}

/*Certificate Section*/
.certf {    
    margin-top: -50px;
    padding: 40px 20px;
    background-color: black;
    color: white;
    text-align: center;
}

.certf h3 {
    margin-bottom: 15px;
    font-size: 30px;
}

.certf ul {
    margin-top: 10px;    
    padding: 0;
    list-style-type: none;
}

.certf ul li {
    margin-bottom: 10px;
    color: #ccc;
}

/*Price Table*/
.table h3 {
    text-align: center;
    font-size: 30px;
}
.pricing-table {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-collapse: collapse;
  color: white;
  background-color: #111;
}

.pricing-table th,
.pricing-table td {
  padding: 12px;
  border: 1px solid #444;
  text-align: center;
}

.pricing-table th {
  background-color: #22222286;
  color: rgb(0, 225, 255);
}

/*Register Button*/
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register a h3 {
    font-size: 20px;
}


/*============================== 
==========REGISTRATION==========
==============================*/
.main {
    padding: 30px;
}

.pricing-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid rgb(0, 225, 255);
    border-radius: 8px;
}

.pricing-section h2 {
    font-size: 30px;
    text-align: center;
}

.selection-group {
    margin: 0 auto;
    padding: 20px;
    background-color: #22222286;
    border-radius: 8px;
}

.selection-title h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: whitesmoke;
    background-color: #22222286;
}

.session-options {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.session-option label {
    display: inline-block;
    align-items: center;
    padding: 20px;
    border: 2px solid rgb(0, 225, 255);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.session-option input:checked+label {
    font-size: 18px;
    color: #111;
    background-color: rgb(0, 225, 255);
}

.addon-options {
    display: inline;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;

}

.addon-option label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
}

.addon-option label:hover {
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

input[type="radio"],
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.calculator-section {
    margin-top: 10px;
    padding: 1.5rem;
    background-color: #111;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: block;
}

.calculator-section h2, p {
    padding: 10px;
    background: none;
}

.calculator-section p {
    margin-bottom: 10px;
    font-size: 18px;
}

.input-group {
    background: none;
}

.input-group input {
    width: 80px;
    height: 40px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 8px;
    font-size: 20px;
}

.input-group button {
    margin-top: -45px;
    border-radius: 10px 0px 10px 0px ;
}

.selection-title {
    font-size: 30px;
}

#result {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid rgb(0, 225, 255);
    border-radius: 8px;
    font-size: 20px;
    background: none;
}

/*=============================
=============CONTACT===========
==============================*/

/*Contact button on the contact page*/
.contact-btn-active {
    margin-left: 20px;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: default;
    color: black;
    background-color: rgb(0, 238, 255);
    transition: all 0.3s ease 0s;
}

.contact-page {
    min-height: 50vh;
    padding: 50px;
    text-align: center;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-container h2 {
    font-size: 36px;
    margin-bottom: 1px
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
  
.contact-wrapper > * {
    flex: 1 1 300px;
}

.contact-form { 
    text-align: left; 
}

.contact-form {
    font-size: 20px;
    margin-bottom: 20px;
    background: none;
}

.form-group { 
    margin-bottom: 20px; 
}

.form-group label { 
    background: none; 
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.192);
    color: whitesmoke;
}

textarea {
    height: 150px;
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgb(0, 238, 255);
    color: rgb(255, 255, 255);
}

form button {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 16px;
    border: none;
    border-radius: 20px 0px 20px 0px;
    color: black; 
    background-color: rgb(0, 238, 255);
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

form button:hover {
    color: whitesmoke;
    background-color: rgba(0, 238, 255, 0.466);
}

.contact-info { 
    text-align: left; 
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-form i {
    color: white;
}

.contact-footer { 
    position: fixed; 
}


/*=============================
=============FOOTER============
==============================*/

footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 20px;
    font-size: 12px;
    background-color: black;
    text-align: center;
}

footer a {
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
}