/*Global reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', verdana, sans-serif;
    font-size: 16;
    color: whitesmoke;
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(0, 225, 255);
    background: none;
}

p, ul, li, b, a {
    background:none; 
}

/*links, lists and button reset*/
li, a, button {
    font-family: 'Poppins', verdana, sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

/*============================== 
==============HEADER============
==============================*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

/*header logo*/
header h1 {
    margin-right: auto;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Antonio', verdana, sans-serif;
    font-size: 25px;
    color: rgb(0, 238, 255);
    cursor: none;
}

/*Navegation Bar*/
.nav_links { 
    list-style: none; 
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover { 
    color:rgb(0, 238, 255);
    border-bottom: 2px solid rgb(0, 238, 255);
}

/*Contact button*/
.cta-btn {
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    color: black;
    background-color: rgb(0, 238, 255);
    cursor: pointer;
}

.cta-btn:hover {
    color: whitesmoke;
    background-color: rgba(0, 238, 255, 0.466);
    transition: all 0.3s ease 0s;
}

/*Active page effect on navegation bar*/
.active {
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px 20px;
    border: 1px solid rgb(0, 225, 255);
    border-radius: 50px;
    color: rgb(0, 238, 255);
    background-color: rgb(0, 0, 0);
    pointer-events: none; /*no click*/
} 

/*============================== 
==============HOME==============
==============================*/
/*Hero section*/
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    padding: 0px 100px;
    background-image: url(/img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Hero - Text section*/
.hero-section h1 {
    width: 420px;
    color: whitesmoke;
    font-family: 'Antonio', verdana, sans-serif;
    font-weight: 400px;
    font-size: 50px;
}

.hero-section p {
    width: 430px;
    padding: 30px 0px;
    font-size: 18px;
}

.hero-content {
    padding: 20px;
    margin-left: auto;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.068);
}

.btn {
    display: inline-block;
    padding: 6px 16px;
    margin-top: 16px;
    border: none;
    border-radius: 15px 0px 15px 0px;
    color: black; 
    background-color: rgb(0, 238, 255);
    cursor: pointer;
}
.btn:hover {
    color: whitesmoke;
    background-color: rgba(0, 238, 255, 0.466);
    transition: all 0.4s ease 0s;
}

/*Info Section*/
.highlights h1 {
    padding: 20px;
    margin-bottom: -30px;
    font-family: 'Antonio', 'Poppins', verdana, sans-serif;
    font-size: 80px;
    text-align: center;
}

/*Info Card */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 330px;
    margin: 20px;
    border-radius: 8px;
    border: 1px solid rgb(0, 238, 255);
    overflow: hidden;
    text-align: left;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content { 
    padding: 20px;
}

.card-content h3 {
    font-size: 20px;
}

.card-content p {
    margin: 0 auto;
    margin-bottom: -10px;
    font-size: 18px;
}

#card-x p {
    margin-top: 20px;
}

/*Image section homepage*/
.image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
  
.image-section img {
    width: 450px;
    height: 250px;
    border-radius: 8px;
}

/*============================== 
============DETAILS=============
==============================*/

/*Hero section of Details page*/
.hero-section-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    padding: 0px 100px;
    background-image: url(/img/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section-details h1 {
    width: 800px;
    color: whitesmoke;
    font-family: 'Antonio', verdana, sans-serif;
    font-size: 55px;
}

.hero-section-details p {
    width: 800px;
    padding: 30px;
    font-size: 32px;
}

.hero-content-details {
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.068);
}

/*Infor area*/
.learn {
    margin-bottom: -50px;
    padding: 30px;
    font-size: 1.1em;
}

.learn h3 {
    font-size: 30px;
}

.learn a {
    font-size: 20px;
    text-decoration: underline;
}

/* Coach Section */
.instructors-section {
    padding: 40px 20px;
    text-align: center;
}

.instructors-section h2 {
    font-size: 30px;
}

.instructors-section p {
    font-size: 18px;
}

.instructor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.instructor-card {
    width: 250px;
    padding: 5px;
    border: 1px solid rgb(0, 238, 255);
    border-radius: 8px;
}

.instructor-card img {
    width: 100%;
}

.instructor-card h3 {
    margin-bottom: 5px;
    font-size: 25px;
    color: rgb(0, 174, 255);
}

.instructor-card p {
    font-size: 16px;
}

#i-card-x h3 {
    margin-top: 5.5px;
    margin-bottom: 2.5px;
}

/* Schedule Section */
.schedule-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 20px;
    border: 1px solid rgb(0, 238, 255);
    border-radius: 8px;
}

.schedule-section h2 {
    text-transform: uppercase;
    font-size: 28px;   
    text-align: center;
}

.schedule-section p {
    text-align: center;
    font-size: 18px;
}

.day-block {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #111;
}

.schedule-section .day-block p {
    text-align: justify;
}

.day-block h3 {
    font-size: 22px;
    color: rgb(0, 174, 255);
}

.day-block h4 {
    font-size: 20px;
}

.day-block ul {
    padding-left: 20px;
    margin-top: 10px;
}

.day-block ul li {
    margin-bottom: 8px;
    line-height: 1.5;
}

/*Workshop Moments*/
.workshop-moments {
    padding: 40px 20px;
    text-align: center;
}

.workshop-moments h2 {
    font-size: 30px;
}

.pictures img, video {
    width: 500px;
    margin: 10px;
    border-radius: 8px;
}

/*testimonials*/
.comment {
    padding: 40px 20px;
    text-align: center;
}

.comment h3 {
    margin-top: -50px;
    margin-bottom: 20px;
    font-size: 30px;
}

.comments {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #111;
}

/*Faq section*/
.faq {
    max-width: 700px;
    margin: 0 auto;
    margin-top: -50px;
    padding: 40px 20px;
}

.faq h3 {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}

.faq-card {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #111;
}

/*Certificate Section*/
.certf {    
    margin-top: -50px;
    padding: 40px 20px;
    text-align: center;
}

.certf h3 {
    font-size: 30px;
}

.certf ul {
    margin-top: 10px;
    list-style-type: none;
}

.certf ul li {
    margin-bottom: 10px;
}

/*Price Table*/
.table h3 {
    text-align: center;
    font-size: 30px;
}
.pricing-table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
}

.pricing-table th, .pricing-table td {
    padding: 15px;
    border: 1px solid #444;
    text-align: center;
}

.pricing-table th {
    background-color: #22222286;
    color: rgb(0, 225, 255);
}

/*Register Button*/
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register a h3 {
    font-size: 20px;
}


/*============================== 
==========REGISTRATION==========
==============================*/
.main {
    padding: 30px;
}

.pricing-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid rgb(0, 225, 255);
    border-radius: 8px;
}

.pricing-section h2 {
    font-size: 30px;
    text-align: center;
}

.selection-group {
    margin: 0 auto;
    padding: 20px;
    background-color: #22222286;
    border-radius: 8px;
}

.selection-title h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: whitesmoke;
    background-color: #22222286;
}

.session-options {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.session-option label {
    display: inline-block;
    align-items: center;
    padding: 20px;
    border: 2px solid rgb(0, 225, 255);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.session-option input:checked+label {
    font-size: 18px;
    color: #111;
    background-color: rgb(0, 225, 255);
}

.addon-options {
    display: inline;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;

}

.addon-option label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
}

.addon-option label:hover {
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

input[type="radio"],
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.calculator-section {
    margin-top: 10px;
    padding: 1.5rem;
    background-color: #111;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: block;
}

.calculator-section h2, p {
    padding: 10px;
    background: none;
}

.calculator-section p {
    margin-bottom: 10px;
    font-size: 18px;
}

.input-group {
    background: none;
}

.input-group input {
    width: 80px;
    height: 40px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 8px;
    font-size: 20px;
}

.selection-title {
    font-size: 30px;
}

#result {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid rgb(0, 225, 255);
    border-radius: 8px;
    font-size: 20px;
    background: none;
}

/*=============================
=============CONTACT===========
==============================*/

/*Contact button on the contact page*/
.cta-btn-active {
    margin-left: 20px;
    padding: 10px 25px;
    border: 1px solid rgb(0, 225, 255);
    border-radius: 50px;
    color: rgb(0, 238, 255);
    background-color: rgb(0, 0, 0);
    cursor: default;
}

.contact-page {
    min-height: 50vh;
    padding: 50px;
    text-align: center;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-container h2 {
    margin-bottom: 1px;
    font-size: 30px;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
  
.contact-wrapper > * {
    flex: 1 1 300px;
}

.contact-form { 
    text-align: left; 
}

.contact-form {
    margin-bottom: 20px;
    font-size: 20px;
}

.form-group { 
    margin-bottom: 20px; 
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.192);
}

textarea {
    height: 150px;
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgb(0, 238, 255);
    color: rgb(255, 255, 255);
}

form button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 16px;
    border: none;
    border-radius: 10px 0px 10px 0px;
    color: black; 
    background-color: rgb(0, 238, 255);
    cursor: pointer;
}

form button:hover {
    color: whitesmoke;
    background-color: rgba(0, 238, 255, 0.466);
    transition: all 0.4s ease 0s;
}

.contact-info { 
    text-align: left; 
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-footer { 
    position: fixed
}

/*=============================
=============FOOTER============
==============================*/

footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 20px;
    font-size: 12px;
    background-color: black;
    text-align: center;
}

footer a {
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
}